<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties" file-encoding="UTF-8" />

    <bean id="мурка" class="ru.goso.school.Cat" />
    <bean id="тузик" class="ru.goso.school.Dog" />

    <bean id="person" class="ru.goso.school.Person">
<!--        <constructor-arg name="name" value="Иванов"/>-->
<!--        <constructor-arg name="age" value="33"/>-->
<!--        <constructor-arg name="pet" ref="мурка"/>-->
            <property name="name" value="${person.name}"/>
            <property name="age" value="${person.age}"/>
            <property name="pet" ref="тузик"/>
    </bean>

</beans>